behave==1.2.6
cachier==1.2.8
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
Click==7.0
cryptography==3.1.1
decorator==4.4.2
Flask==1.1.2
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.2
loguru==0.4.0
MarkupSafe==1.1.1
numpy==1.19.2
opencv-python==4.4.0.44
packaging==19.2
parse==1.18.0
parse-type==0.5.2
pathtools==0.1.2
plumbum==1.6.8
portalocker==2.0.0
pycparser==2.20
pymongo==3.9.0
pyparsing==2.4.7
PySocks==1.7.1
python-rex==0.4
python-telegram-bot==12.8
requests==2.22.0
six==1.15.0
tornado==6.0.4
updater==0.1.24
urllib3==1.25.10
watchdog==0.10.3
Werkzeug==1.0.1
