absl-py==0.10.0
aiocontextvars==0.2.2
ansimarkup==1.4.0
astor==0.8.1
astroid==2.4.2
astunparse==1.6.3
behave==1.2.6
better-exceptions-fork==0.2.1.post6
cachetools==4.1.1
cachier==1.2.8
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
clarifai==2.6.2
Click==7.0
cloudpickle==1.6.0
colorama==0.4.3
configparser==3.8.1
contextvars==2.4
cryptography==3.1.1
cycler==0.10.0
decorator==4.4.2
ffmpeg==1.4
Flask==1.1.2
Flask-Login==0.5.0
flask-migrate==2.5.3
Flask-SQLAlchemy==2.4.4
Flask-WTF==0.14.3
future==0.18.2
gast==0.3.3
google-auth==1.22.1
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
googleapis-common-protos==1.52.0
grpcio==1.32.0
h5py==2.10.0
idna==2.10
imageio==2.9.0
immutables==0.14
importlib-metadata==2.0.0
isort==5.5.4
itsdangerous==1.1.0
Jinja2==2.11.2
jsonschema==2.6.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
loguru==0.4.0
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.3.2
mccabe==0.6.1
networkx==2.5
numpy==1.18.5
oauthlib==3.1.0
opencv-python==4.4.0.44
opt-einsum==3.3.0
packaging==19.2
parse==1.18.0
parse-type==0.5.2
pathtools==0.1.2
Pillow==7.2.0
plumbum==1.6.8
portalocker==2.0.0
protobuf==3.13.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
Pygments==2.7.1
pylint==2.6.0
pymongo==3.9.0
pyparsing==2.4.7
PySocks==1.7.1
python-dateutil==2.8.1
python-rex==0.4
python-telegram-bot==12.8
PyWavelets==1.1.1
pywin32==228
requests==2.24.0
requests-oauthlib==1.3.0
rsa==4.6
scikit-image==0.17.2
scipy==1.5.2
six==1.15.0
SQLAlchemy==1.3.20
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.3.1
tensorflow-estimator==2.3.0
termcolor==1.1.0
tf-slim @ git+https://github.com/adrianc-a/tf-slim.git@80265a15482b4f81f162a344f13659a855cc5543
tifffile==2020.10.1
toml==0.10.1
tornado==6.0.4
tqdm==4.49.0
typed-ast==1.4.1
updater==0.1.17
urllib3==1.25.10
watchdog==0.10.3
Werkzeug==1.0.1
win32-setctime==1.0.3
wrapt==1.12.1
WTForms==2.3.3
zipp==3.2.0
