<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Обработка фото</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
            <a class="nav-link" href="/"> Главная страница </a>
            </li>
            
            {% if current_user.is_authenticated %}
                <li class="nav-item ">
                    <a class="nav-link" href="{{ url_for('logout') }}">Выйти</a>
                </li>
            {% else %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('login') }}">Войти</a>
                </li>
            {% endif %}
            <li class="nav-item ">
                <a class="nav-link" href="{{ url_for('register') }}">Зарегистрироваться</a>
            </li>
      </ul>
    </div>
</nav>