{% extends "base.html" %}

{% block content %}
    
    <h1>
        <p class="text-center">{{ title }}</p>
    </h1>
    {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-warning" role="alert">
                {% for message in messages %}
                    {{ message }}<br>
                {% endfor %}
            </div>
            {% endif %}
          {% endwith %}
    <div class="row">
        <div class="col-1">
          
        </div>
        <div class="col-10">
            <form action="" method="POST" enctype="multipart/form-data">
                
            </form>
        </div>
        <div class="col-1">
          
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
    </div>
    <!-- Карусель -->   
    <div class="col-4">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner" style=" width:60%; height: 200px !important;">
              <div class="carousel-item active">
                  <img class="d-block w-100"  src={{ path_photo }} alt="1">
              </div>
              
          </div>
          
      </div>
      <div class="col-4">
      
      </div>
    </div>
  </div>    
  <div class="row">
    <div class="col-4">
      
    </div>
    <div class="col-4">
      <!-- Просмотр и скачивание фото -->
      <input class="btn btn-primary" type=button onclick=location.href="{{ path_photo }}" 
                name="openFile" value="Посмотреть обработанное фото">
      <a href={{ path_photo }} download="">Скачать фото</a>
    </div>
{% endblock %}
