{% extends "base.html" %}

{% block content %}
    
<h1>
    <p class="text-center">{{ title }}</p>
</h1>
{% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-warning" role="alert">
            {% for message in messages %}
                {{ message }}<br>
            {% endfor %}
        </div>
        {% endif %}
      {% endwith %}

<div class="row">
  <div class="col-4">
  </div>
  <div class="col-4">
    <img class="img-responsive" src={{ path_photo }} width="300" height: auto alt="Готовое фото"><br>
    <!-- Просмотр и скачивание фото -->
    <a href={{ path_photo }} target="_blank">Посмотреть фото</a><br>
    <a href={{ path_photo }} download="">Скачать фото</a>
  </div>
  <div class="col-4">
  </div>
</div>
{% endblock %}
